@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Teko:wght@500;600&display=swap");
.cvsdg {
  width: 80%;
  margin: 0 auto;
}

.button {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #27baef;
  color: white;
  font-size: 24px;
  font-family: 'Teko', sans-serif;
  letter-spacing: 2px;
  font-weight: 900;
  -webkit-transition: background 400ms ease-in-out;
  transition: background 400ms ease-in-out;
}

.button:hover {
  background: #2f87a7;
}

.exchangewallet {
  width: 80%;
  margin: 0 auto;
  min-height: 1025px;
}

.headWallet {
  width: 100%;
  margin: 0 auto;
  min-height: 90px;
  place-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.exchangewalletleft {
  width: 500px;
  height: 300px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#f8a23b), to(#fdc076));
  background: linear-gradient(to right, #f8a23b, #fdc076);
  color: white;
  -webkit-box-shadow: 5px 10px 18px #0f0f0f;
          box-shadow: 5px 10px 18px #0f0f0f;
}

.swaping {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 100%;
}

.exchangewalletright {
  width: 500px;
  height: 300px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#7392eb), to(#8da9ff));
  background: linear-gradient(to right, #7392eb, #8da9ff);
  color: white;
  -webkit-box-shadow: 5px 10px 18px #0f0f0f;
          box-shadow: 5px 10px 18px #0f0f0f;
}

.inbetweenswap {
  margin: 100px;
}

.inpfieldconnect {
  border: none !important;
  border-bottom: 2px solid #ccc !important;
  width: 300px;
  height: 80px;
  font-size: 60px;
  font-weight: 700;
  color: white;
  text-align: center;
}

.btnconnectwallet {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Teko', sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  background: #27baef;
  border-radius: 5px;
  -webkit-transition: background 500ms;
  transition: background 500ms;
}

.btnconnectwallet:hover {
  background: #35a9d3;
}

.mainshps {
  width: 100%;
}

.mainshps .mainshp-section {
  width: 100%;
}

.section1-cam {
  width: 100%;
  height: 100%;
}

.accescmdata {
  border: 1px solid #ccc;
  height: 100%;
  height: 100%;
  border-radius: 10px;
}

.sidecart {
  width: 300px;
}

.cartsidebar {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 10;
  height: 100%;
  width: 78px;
  padding: 6px 14px;
  padding: 20px 16px;
  border: 1px solid #ccc;
  width: 300px;
  background: #1d2128;
  -webkit-transition: width 500ms ease-in-out;
  transition: width 500ms ease-in-out;
}

.imageofthesidecart {
  margin-top: 25px;
}

.imageofthesidecart img {
  width: 105px;
  height: 80px;
}

.checkoutbtn {
  padding: 10px 15px 10px 15px;
  background: #27baef;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  -webkit-transition: background 400ms, -webkit-transform 200ms;
  transition: background 400ms, -webkit-transform 200ms;
  transition: transform 200ms, background 400ms;
  transition: transform 200ms, background 400ms, -webkit-transform 200ms;
}

.checkoutbtn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #2f87a7;
}

.content0-12text h2 {
  color: #c6c6c6;
  font-size: 14px;
  margin-left: -15px;
}

.content0-12text .content012-p {
  margin-left: -15px;
  color: #fff;
}

.content0-12text .content012-p p:first-child {
  font-weight: 900;
}

.content0-12text .content012-p p:last-child {
  color: #f8a23b;
  font-weight: 800;
}

.popupforcart {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  display: block;
}

.popupforcart .popupwitin {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-top: 70px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 40px;
  background: #1d2128;
  border-radius: 20px;
  -webkit-box-shadow: 2px 10px 18px #0d0f13;
          box-shadow: 2px 10px 18px #0d0f13;
}

.popupforcart .popupwitin .inside-pop img {
  border-radius: 10px;
  width: 200px;
  height: 160px;
  margin-bottom: 20px;
}

.popupforcart .popupwitin .content-jaksdkasj h2 {
  font-size: 20px;
  color: #fff;
  font-weight: 800;
  text-align: center;
}

.popupforcart .popupwitin .content-jaksdkasj .price p {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
}

.popupforcart .addbtnhere {
  background: #27baef;
  padding: 10px 20px 10px 20px;
  font-weight: 700;
  color: white;
  -webkit-transition: background 400ms, -webkit-transform 200ms;
  transition: background 400ms, -webkit-transform 200ms;
  transition: transform 200ms, background 400ms;
  transition: transform 200ms, background 400ms, -webkit-transform 200ms;
}

.popupforcart .addbtnhere:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #2f87a7;
}

.popupforcart .cancelbtnhere {
  background: #c93636;
  padding: 10px 15px 10px 15px;
  font-weight: 700;
  color: white;
  margin-left: 50px;
  -webkit-transition: background 400ms, -webkit-transform 200ms;
  transition: background 400ms, -webkit-transform 200ms;
  transition: transform 200ms, background 400ms;
  transition: transform 200ms, background 400ms, -webkit-transform 200ms;
}

.popupforcart .cancelbtnhere:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #8f2828;
}

@media only screen and (min-width: 1620px) {
  .inbetweenswap {
    margin: 135px;
  }
  .exchangewallet {
    width: 80%;
    margin: 0 auto;
    height: 100vh;
  }
}
/*# sourceMappingURL=shop.css.map */