venv/*
venv/
ipynb_checkpoints/*
ipynb_checkpoints
images/*
labelImg/*
labelImg
virt
virt/*
mdel/
mdel/*
pretained/
pretained/*
GenerateTFRecord
GenerateTFRecord/*
ssd_mobilenet_v2_320x320_coco17_tpu-8.tar.gz
ssd_mobilenet_v2_320x320_coco17_tpu-8/
ssd_mobilenet_v2_320x320_coco17_tpu-8/*
model
model/*
